#title {
  background-color: #FF4C68;
  color: #FFF;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Underdog', cursive;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav_link{
  font-size:1.2rem;
}
 /* download button */
 .download-button{
   margin:5% 3% 5% 0;
 }
 .title-image{
   width:60%;
   transform: rotate(25deg);
 }
h3{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  color:black;
}

h2{
  font-family: "Montserrat-Bold" sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.5;
}
p{
  color: gray;
  font-weight: 100;
}
.awesomefonts{
  color: #EF8172;
  padding-bottom: 10px;
}
.awesomefonts:hover{
  color:#FF4C68;
}
#features{
  padding:7% 5%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
/* testimonials section */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #FF4C68;
  color: #FFF;
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px 20px 50px;
}

.carousel-item{
padding:7% 5%;
}
#press{
  background-color:#FF4C68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px;
}

#pricing{
  padding: 100px;
  text-align: center;
}


/* CTA section */


#cta{
  background-color: #FF4C68;
  color: #FFF;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: "Montserrat-Bold" sans-serif;
  color: #FFF;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer section */

#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}

.pricing-column{
  padding: 3% 2%;
}

#title{
  text-align: center;
}

@media (max-width:1028px){
  .title-image{
    position:static;
    transform: rotate(0);
  }
}
